.skills {
  background-color: #222c32;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.skills h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 48px;
  margin-top: 0;
}

.skills h2 {
  font-size: 48px;
  color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.chart {
  width: 1000px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
